
/* Terminal */
.Terminal {
    isolation: isolate; /* Create a new stacking context */
    z-index: 8999; /* Ensure this is higher than other elements */
    position: relative;
    top: 100px !important;
    transform: translate(-50%, -50%);
    width: 660px;
    max-width: 95%;
    height: 400px;
    max-height: 90vh;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, .5);
    overflow: hidden;
    border-radius: 6px;
    background: var(--terminal-bg, rgba(56, 4, 40, .9));
    -webkit-animation: slide_up_down 2s ease-in-out infinite alternate both;
    animation: slide_up_down 2s ease-in-out infinite alternate both;
    margin-bottom: 7rem;
}
.Terminal p,
.Terminal pre,
.Terminal span,
.Terminal div {
    padding: 5px;
}

.Terminal__Toolbar {
    background: var(--toolbar-gradient, linear-gradient(#504b45 0%, #3c3b37 100%));
    width: 100%;
    padding: 0 8px;
    box-sizing: border-box;
    height: 25px;
    display: flex;
    align-items: center;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.Toolbar__buttons {
    display: flex;
    align-items: center;
}
.Toolbar__button {
    width: 12px;
    height: 12px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    padding: 0;
    font-size: 7px;
    background: var(--button-gradient, linear-gradient(#7d7871 0%, #595953 100%));
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2);
    box-shadow: 0px 0px 1px 0px #41403A, 0px 1px 1px 0px #474642;
    border: none;
    margin-right: 4px;
}
.Toolbar__button:hover {
    cursor: pointer;
}
.Toolbar__button--exit {
    background: var(--exit-gradient, linear-gradient(#f37458 0%, #de4c12 100%));
    background-clip: padding-box;
}
.Toolbar__button:focus {
    outline: none;
}
.Toolbar__user {
    color: #d5d0ce;
    margin-left: 4px;
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 1px;
}
.Terminal__body {
    background: var(--terminal-bg, rgba(56, 4, 40, .9));
    height: calc(100% - 25px);
    margin-top: -1px;
    padding-top: 2px;
    font-family: 'Ubuntu mono';
    overflow-y: auto;
    color: var(--terminal-text-color);
}
.Prompt__user { color: #87d441; }
.Prompt__location { color: #6d85a9; }
.Prompt__dollar { color: #ddd; }
.Prompt__cursor {
    display: inline-block;
    width: 8px;
    height: 17px;
    background: white;
    margin-left: 4px;
    animation: blink 1s infinite;
}
@keyframes blink {
    0%, 50% {
        opacity: 1;
    }
    51%, 100% {
        opacity: 0;
    }
}
@-webkit-keyframes slide_up_down {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    to {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }
}
@keyframes slide_up_down {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    to {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }
}
@media (max-width: 768px) {
  .Terminal {
      position: relative;
      left: 50% !important;
      width: 100% !important;
      transform: translateX(-50%) !important;
  }
}
@media (max-width: 480px) {
  .Terminal {
      position: relative;
      left: 50% !important;
      width: 100% !important;
      transform: translateX(-50%) !important;
  }
}

/* terminal end */